*.iml
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/shelf
/.idea/assetWizardSettings.xml
/.idea/discord.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/app/build
/app/src/main/res/raw/google_credentials.json
/captures
/gradle
.cxx
.DS_Store
.externalNativeBuild
.gradle
local.properties
secrets.properties